<div class="jumbotron">
    <h2>About this page</h2>
    <br>
    <p>This web app was created by Markus Englund as a part of the Free code camp curriculum. You can find the source code <a href="">here</a>. If you have any questions or feedback you can send an e-mail to markus.s.englund at gmail dot com.</p>
    <p>The app was built using:</p>
    <ul>
        <li><strong>Node.js</strong></li>
        <li><strong>Express</strong></li>
        <li><strong>MongoDB</strong> (Mongoose)</li>
        <li><strong>Passport</strong></li>
        <li><strong>Handlebars</strong></li>
        <li><strong>Chart.js</strong></li>
        <li><strong>Bootstrap</strong></li>
        <li><strong>jQuery</strong></li>
    </ul>
</div>